* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    background-color: #e9ffdb;
}

Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 5rem;
    color: #21421e;
}

.emoji {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}

.soil {
    display: none;
}

.plant {
    display: none;
}

.active {
    display: block;
}